@charset "UTF-8";
/* Versao mobile first */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: rgb(207, 207, 207);
}

header {
    background-color: gray;
}

header h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    padding: 10px;
}

span#burguer {
    background-color: rgb(48, 48, 48);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu { 
    display: none;
}


header menu ul li a{
    display: block;
    padding: 10px;
    background-color: rgb(83, 83, 83);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
    text-decoration: none;
}

header menu ul li a:hover {
    background-color: lightgray;
    color: black;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}


main article h2 {
    font-size: 1.5em;
    padding-bottom: 20px;
}

main article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}


/*-------------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1024px) { /* tablet */

}

@media screen and (min-width: 1025px) and (max-width: 1440px) { /* desktop */

}

@media screen and (min-width: 1441px) { /* grandes telas */

}

